.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #111111;
}

.footer .text-muted {
  margin: 20px 0;
}

.footer .container .row :last-child {
	text-align: right;
}
