body {
	padding-top: 60px;
	padding-bottom: 60px;
	background: url("/img/rho_onlyscrew.png") no-repeat,
							url("/img/escheresque.png");
	background-size:15%;
	background-position: -10px 50px;
	height: 100%;
}

.white-text-box {
	/*background-color: #FFFFFF;
	opacity: 1.0;*/
}

.faded-white {
	background-color: #FFFFFF;
	opacity: 0.6;
}

.container {
	min-height: 100%;
	position: relative;
}
