@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #020202;
    color: #aaa;
}

a {
    color: green;
}

#headshot {
    width: 200px;
    border-radius: 50%;
}

#main {
    display: flex;
}

#sidebar {
    width: 350px;
    margin-right: 20px;
}

#sidebar-list {
    padding-left: 0;
}

#content {
    order: 2;
}

div img {
    background-color: white;
}

table td {
    padding-left: 2px;
    padding-right: 2px;
}

table tr td:nth-child(even) {
    background-color: lightblue;
}

@media (width < 600px) {
    body {
        font-size: 1.2em;
        width: 98%;
        padding: 2px;
    }

    #main {
        flex-wrap: wrap;
    }

    #content {
        order: 1;
        width: 100%;
    }

    #sidebar {
        order: 2;
    }
}

@media (width >=600px) {
    body {
        font-size: 1.0em;
        width: 800px;
        padding: 20px;
    }

    #main {
        flex-wrap: nowrap;
    }

    #content {
        order: 2;
        width: auto;
    }

    #sidebar {
        order: 1;
    }
}
