{% include header.html %}

<div class="container">

  <div class="row">
    <div class="col-md-8 white-text-box">
      <h1>{{ page.title }}</h1>
      <p class="muted">{{ page.date | date_to_long_string }}</p>

      {{ content }}

    </div>
    <div class="col-md-3 white-text-box sidebar">
      <h3>{{ page.title }}</h3>
      <dl class="dl-horizontal">
        <dt>Start</dt>
        <dd>{{ page.start_time }}</dd>
        <dt>End</dt>
        <dd>{{ page.end_time }}</dd>
        <dt>Project Link</dt>
        <dd><a href="/projects/{{ page.project_link }}">{{ page.project_name }}</a></dd>
        <dt>Team Members</dt>
        <dd>{{ page.team_members }}</dd>
        <dt>Event Page</dt>
        <dd><a href="{{ page.hackathon_link }}">{{ page.title }}</a></dd>
        <dt>T-Shirt Count</dt>
        <dd>{{ page.t_shirt_count }}</dd>
        <dt>Hacking Time</dt>
        <dd>{{ page.hacking_time }}</dd>
        <dt>Attendance</dt>
        <dd>{{ page.attendance }}</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <a href="/hackathons">
      <button type="button" class="btn btn-link proj-btn">Return to Hackathons Page</button>
    </a>
  </div>

</div>

{% include footer.html %}
