{% include header.html %}

<div class="container">
	<div class="row">
		<div class="col-md-8 white-text-box">

			{{ content }}


			<h4>HackRPI Status Board</h4>
			Status Board built for HackRPI to track event commits, show event announcements, and provide a mentoring system.
			<ul class="posts">
			{% for post in site.tags.hackrpi-status-board %}
			  <div class="post_info">
			    <li>
			         <a href="{{ post.url }}">{{ post.title }}</a>
			         <span>({{ post.date | date_to_long_string }})</span>
			    </li>
			    </div>
			  {% endfor %}
			</ul>

			<h4>Tabz</h4>
			Google Chrome extension to help manage tabs when you have a lot open.
			<ul class="posts">
			{% for post in site.tags.tabz %}
			  <div class="post_info">
			    <li>
			         <a href="{{ post.url }}">{{ post.title }}</a>
			         <span>({{ post.date | date_to_long_string }})</span>
			    </li>
			    </div>
			  {% endfor %}
			</ul>

		</div>

		<div class="col-md-3 white-text-box sidebar">

		{% include sidebar.html %}

		</div>

	</div>

</div>

{% include footer.html %}
