{% include header.html %}

<div class="wrapper">
  <div class="content">

    {{ content }}
    
    <h4>HackRPI Status Board</h4>
			Status Board built for HackRPI to track event commits, show event announcements, and provide a mentoring system.
			<ul class="posts">
			{% for post in site.tags.hackrpi-status-board %}
			  <div class="post_info">
			    <li>
			         <a href="{{ post.url }}">{{ post.title }}</a>
			         <span>({{ post.date | date_to_long_string }})</span>
			    </li>
			    </div>
			  {% endfor %}
			</ul>

    <h4>Kaggle</h4>
    My rambling adventures on the riveting <a href="https://www.kaggle.com">Kaggle</a> Competitions in which I partake.
    <ul class="posts">
    {% for post in site.tags.kaggle %}
      <div class="post_info">
        <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
              <span>({{ post.date | date_to_long_string }})</span>
        </li>
        </div>
      {% endfor %}
    </ul>

    <h4>Tabz</h4>
    Google Chrome extension to help manage tabs when you have a lot open.
    <ul class="posts">
    {% for post in site.tags.tabz %}
      <div class="post_info">
        <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
              <span>({{ post.date | date_to_long_string }})</span>
        </li>
        </div>
      {% endfor %}
    </ul>

    <h4>Twitch Plays Checkers</h4>
    The Twitch audience plays checkers against an AI.
    <ul class="posts">
    {% for post in site.tags.twitchplayscheckers %}
      <div class="post_info">
        <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
              <span>({{ post.date | date_to_long_string }})</span>
        </li>
        </div>
      {% endfor %}
    </ul>

  </div>
  <div class="sidebar">

    {% include sidebar.html %}

  </div>
</div>

{% include footer.html %}
