{% include header.html %}

<div class="container">
	<div class="row">
		<div class="col-md-8 white-text-box">

			{{ content }}


			<h4>All Projects</h4>
			<ul class="list-inline">
				{% capture posts %}
					{% for post in site.categories.project %}
						|{{ post.title }}#{{ post.url }}
					{% endfor %}
				{% endcapture %}
				{% assign sortedposts = posts | split: '|' | sort %}
				{% for post in sortedposts %}
						{% assign postitems = post | split: '#' %}
						<li><a href="{{ postitems[1] }}">{{ postitems[0] }}</a></li>
				{% endfor %}
			</ul>

		</div>

		<div class="col-md-3 white-text-box sidebar">

		{% include sidebar.html %}

		</div>

	</div>


	<h4>Featured Project</h4>

	{% for post in site.tags.featured %}

	<div class="row">
		<div class="col-md-8 white-text-box">
			<h1>{{ post.title }}</h1>
			<p class="muted">{{ post.date | date_to_long_string }}</p>

			{{ post.content }}

		</div>
	</div>

	{% endfor %}

</div>

{% include footer.html %}
